/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Satisfy&display=swap");
/* Core styles */
* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s linear;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}
.section__description {
  color: #424551;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
.section__btn1 {
  padding: 16px 40px;
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to right, #ff3f3a, #f75e05);
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.5px;
  cursor: pointer;
}
.section__btn1:hover {
  opacity: 0.8;
}
.section__btn2 {
  background-color: transparent;
  border-radius: 4px;
  padding: 15px 40px;
  border: 1px solid #f75e05;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 16px;
  color: #f75e05;
  cursor: pointer;
}
.section__btn2:hover {
  background-image: linear-gradient(to right, #ff3f3a, #f75e05);
  color: #fff;
}
.section__title {
  letter-spacing: 0%;
  font-size: 46px;
  line-height: 130%;
  font-weight: 900;
  color: #1e212c;
}
.section__subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  color: #1e212c;
  text-transform: uppercase;
}
/* Hero background */
.hero {
  background-image: url("../image/hero-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 1080px;
}
/* Header section styles */
.header {
  padding: 20px 0;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__left,
.header__list,
.header__right {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header__auth {
  background: none;
  border: none;
  font-size: 16px;
  color: #424551;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.header__auth > img {
  height: 17.92px;
  width: 16.67px;
}
.header__link {
  font-size: 16px;
  font-weight: 700;
  color: #424551;
}
/* Home section styles */
.home {
  padding: 112px 0;
}
.home__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 96px;
}
.home__play {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  color: #1e212c;
}
.home__title {
  font-size: 64px;
  font-weight: 900;
  line-height: 130%;
  color: #1e212c;
  letter-spacing: 1px;
  margin: 40px 0 64px 0;
}
.home__btn2 {
  margin-right: 16px;
}
/* Stats section styles */
.stats {
  padding: 112px 0;
}
.stats__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stats__item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.stats__circle {
  background-color: #ff3f3a;
  width: 8px;
  height: 8px;
  border-radius: 4px;
}
.stats__description {
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  color: #1e212c;
}
/* About section styles */
.about {
  margin: 128px 0;
}
.about__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 112px;
}
.about__title {
  margin: 8px 0 24px 0;
}
.about__item {
  display: flex;
  align-items: start;
  gap: 16px;
  margin-bottom: 12px;
}
.about__check {
  margin-top: 4px;
}
.about__text {
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  color: #1e212c;
}
.about__btn {
  margin-top: 32px;
}
/* About section styles */
.courses {
  margin: 128px 0;
}
/* Benefits section styles */
.benefits__content {
  text-align: center;
}
.benefits__tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 48px;
}
.benefits__item {
  flex: 1;
  text-align: center;
}
.benefits__tab {
  background: none;
  border: none;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
  color: #9a9ca5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  cursor: pointer;
}
/* Combined(qo'shma) selector */
.benefits__tab.active {
  border: 1px solid #ff3f3a;
  border-radius: 4px;
  padding: 8px 0;
}
.benefits__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 96px;
}
.benefits__bottom--title {
  font-size: 32px;
  line-height: 130%;
  font-weight: 900;
  color: #1e212c;
  margin-bottom: 24px;
}
.benefits__bottom--description {
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  color: #424551;
}
/* Certificate section styles */
.certificate {
  margin-top: 60px;
}
.certificate__wrapper {
  display: flex;
  gap: 128px;
}
.certificate__description {
  margin-bottom: 40px;
}
.certificate__title {
  margin: 15px 0 45px 0;
}
.certificate__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
/* Team section styles */
.team {
  margin: 60px 0;
}
.team__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.team__btn {
  border: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #ff3f3a;
}

.team__title {
  margin-top: 15px;
}
.team__img {
  background-color: #ffcf2d;
  padding: 20px 20px 0 20px;
  border-radius: 4px;
}
.team__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.team__card {
  text-align: center;
}
.team__text {
  font-weight: 700;
  line-height: 150%;
  font-style: bold;
  font-size: 20px;
  color: #424551;
  margin: 10px 0;
}
/* Clients section styles */
.clients {
  margin: 60px 0;
}
.clients__top {
  text-align: center;
}
.clients__bottom {
  display: flex;
}
.clients__cards {
  border-radius: 5px;
  padding: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  justify-content: center;
  display: flex;
  width: 1000px;
  margin: 0 auto 0 auto;
}
.clients__title {
  margin-bottom: 50px;
}
.clients__descripton {
  font-size: 20px;
  color: #424551;
  font-weight: 400;
  line-height: 150%;
}
.clients__btn2 {
  margin-top: 100px;
}
.clients__img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 15px;
}
.clients__card--right {
  margin: 0 30px 0 30px;
}
.clients__wrapper {
  display: flex;
  margin-top: 20px;
}
.clients__btn1 {
  border: none;
  background-color: #fff;
}
.clients__btn2 {
  border: none;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  background-color: #ff3f3a;
}
.clients__spans {
  margin-top: 30px;
  text-align: center;
}
/* Events section styles */
.events {
  padding: 256px 0 128px 0;
  background-image: url(../image/events-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.events__top {
  text-align: center;
}
.events__medium {
  margin: 48px 0;
}
.events__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 24px;
}
.events__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 32px;
}
.events__card:hover {
  box-shadow: 0px 12px 10px -6px #f75e05;
}
.events__card--datebox {
  display: flex;
  align-items: center;
  gap: 20px;
}
.events__card--content {
  width: 757px;
}